<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Semillas - El jardin de los gatos</title>
	<link rel="shortcut icon" href="../img/favicon.ico">
	<link rel="stylesheet" href="../css/style.css">
</head>
<body>
	<!-- Start-Container -->
	<div class="grid-container">
		<!-- Start-Nav -->
	<nav id="nav-grid">
		<a href="../index.html">
            <img src="../img/isologo-transparente-2.svg" class="isologo" alt="Isologo del jardin de los gatos">
		</a>
		<ul>
			<li><a href="../views/semillas.html">Semillas</a></li>
			<li><a href="../views/workshops.html">Workshops</a></li>
			<li><a href="../views/servicios.html">Servicios</a></li>
			<li><a href="../views/quienes-somos.html">Quienes somos</a></li>
			<li><a href="../views/contacto.html#contacto">Contacto</a></li>
			<li><a href="../views/shop.html">Shop</a></li>
		</ul>
	</nav>
	<!-- End-Nav -->
	<header id="header-grid">
        <img src="../img/semillas.png" alt="Diferentes tipos de semillas esparcidas">
    </header>
	<!-- Start-Main -->
	<main id="main-grid">
		<h1 class="text-center grey-background-h1">Nuestras Semillas</h1>
		<p class="text-center grey-background">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis mollitia 
			illum alias rem consequatur inventore dignissimos a cupiditate nihil quidem, quae provident. Fugiat temporibus perferendis ad, 
			dolorem sequi dolore, molestiae! Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt 
			ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex 
			ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
			Excepteur sint occaecat cupidatat non  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </main>
	<aside>
        <h2 class="text-center grey-background-articules">Cuando sembrar?</h2>
        <section class="text-center">
                <table class="table-center margin-table cellpadding="12px" cellspacing="5px">
                    <tr>
                        <th>-Primavera-Verano-</th>
                        <th>--Otoño-Invierno--</th>
                    </tr>
                    <tr>
                        <td>Tomates</td>
                        <td>Espinaca</td>
                    </tr>
                    <tr>
                        <td>Berenjena</td>
                        <td>Pak Choi</td>
                    </tr>
                    <tr>
                        <td>Pimientos</td>
                        <td>Brocoli</td>
                    </tr>
                    <tr>
                        <td>Calabaza</td>
                        <td>Coliflor</td>
                    </tr>
                    <tr>
                        <td>Zapallo</td>
						<td>Habas</td>
                    </tr>
                    <tr>
                        <td>Pepino</td>
                        <td>Arvejas</td>
                    </tr>
                    <tr>
                        <td>Acelga</td>
                        <td>Acelga</td>
                    </tr>
					<tr>
						<td>Cebolla</td>
						<td>Cebolla</td>
					</tr>
					<tr>
						<td>Verdeo</td>
						<td>Verdeo</td>
					</tr>
					<tr>
						<td>Lechuga</td>
						<td>Lechuga</td>
					</tr>
					<tr>
						<td>Zucchini</td>
						<td>Repollo</td>
					</tr>
					<tr>
						<td>Remolacha</td>
						<td>Remolacha</td>
					</tr>
					<tr>
						<td>Papas</td>
						<td>Kale</td>
					</tr>
					<tr>
						<td>Choclo</td>
						<td>Apio</td>
					</tr>
					<tr>
						<td>Chauchas</td>
						<td>Puerros</td>
					</tr>
					<tr>
						<td>Cebolla</td>
						<td>Cebolla</td>
					</tr>
                </table> 
        </section>
    </aside>
	<!-- End-Main -->
    <footer id="footer-grid">
        <img class="f-spacing" src="../img/jardin-de-los-gatos-B.svg" alt="Isologo del jardin de los gatos">
        <p class="f-spacing">©2022. Powered by Centauro</p>
        <a href="https://www.instagram.com" target="_blank">
            <img class="f-spacing" src="../img/instagram-logo.svg" alt="icono de instagram">
		</a>
		<a href="https://www.facebook.com" target="_blank">
			<img class="f-spacing" src="../img/facebook-logo.svg" alt="icono de facebook">
		</a>
		<a href="https://www.youtube.com" target="_blank">
			<img class="f-spacing" src="../img/youtube-logo.svg" alt="icono de youtube">
		</a>
		<a href="https://www.linkedin.com" target="_blank">
			<img class="f-spacing" src="../img/linkedin-logo.svg" alt="icono de linkedin">
		</a>
    </footer>
</div>
	<!-- End-Container -->
</body>
</html>