<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Workshops - El jardin de los gatos</title>
	<link rel="shortcut icon" href="../img/favicon.ico">
	<link rel="stylesheet" href="../css/style.css">
</head>
<body>
	<!-- Start-Container -->
	<div class="grid-container">
		<!-- Start-Nav -->
	<nav id="nav-grid">
		<a href="../index.html">
            <img src="../img/isologo-transparente-2.svg" class="isologo" alt="Isologo del jardin de los gatos">
		</a>
		<ul>
			<li><a href="../views/semillas.html">Semillas</a></li>
			<li><a href="../views/workshops.html">Workshops</a></li>
			<li><a href="../views/servicios.html">Servicios</a></li>
			<li><a href="../views/quienes-somos.html">Quienes somos</a></li>
			<li><a href="../views/contacto.html#contacto">Contacto</a></li>
			<li><a href="../views/shop.html">Shop</a></li>
		</ul>
	</nav>
	<!-- End-Nav -->
	<header id="header-grid">
		<a href="contacto.html">
			<img src="../img/ws-full.png" alt="grupo de asistentes en nuestro workshop">
		</a>
		<h1 class="text-center grey-background-h1">Workshops</h1>
	</header>
	<main id="main-grid">
		<p class="text-center grey-background">
			Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut obcaecati vel, eveniet dolores earum eaque labore quaerat odio corporis ipsum minus esse repudiandae culpa ab alias deleniti cupiditate sint amet. Lorem ipsum dolor, sit, amet consectetur adipisicing elit. Nisi ex cupiditate iure, debitis dicta corrupti voluptatibus iusto dignissimos numquam? Corporis, porro voluptatum modi accusamus possimus quis recusandae saepe, natus nesciunt.
            Lorem ipsum dolor, sit amet consectetur, adipisicing elit. Blanditiis, incidunt dicta delectus nobis dignissimos rerum, saepe possimus fuga! Dignissimos mollitia ipsum explicabo nesciunt! Rerum nihil et iure sequi sunt dolorem.
        </p>
    </main>
	<aside id="aside-grid">	
			<h2 class="text-center grey-background">Consejos</h2>
			<p class="text-center grey-background">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni quas ipsum voluptates iste temporibus perspiciatis velit 
				reprehenderit exercitationem rerum delectus! Ex doloribus repudiandae debitis fuga qui nihil quos recusandae facere?</p>
	</aside>
    <footer id="footer-grid">
        <img class="f-spacing" src="../img/jardin-de-los-gatos-B.svg" alt="Isologo del jardin de los gatos">
        <p class="f-spacing">©2022. Powered by Centauro</p>
        <a href="https://www.instagram.com" target="_blank">
            <img class="f-spacing" src="../img/instagram-logo.svg" alt="icono de instagram">
		</a>
		<a href="https://www.facebook.com" target="_blank">
			<img class="f-spacing" src="../img/facebook-logo.svg" alt="icono de facebook">
		</a>
		<a href="https://www.youtube.com" target="_blank">
			<img class="f-spacing" src="../img/youtube-logo.svg" alt="icono de youtube">
		</a>
		<a href="https://www.linkedin.com" target="_blank">
			<img class="f-spacing" src="../img/linkedin-logo.svg" alt="icono de linkedin">
		</a>
    </footer>
</div>
	<!-- End-Container -->
</body>
</html>